<%= provide(:title, "Home") %>
<% if logged_in? %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <%= button_to('Delete', current_user, method: :delete, data: { confirm: "You sure?" }, :class => 'btn btn-danger')  %>
        <section class="images_form">
            <%= render 'shared/image_form' %>
        </section>
    </aside>
    <div class="col-md-8" id='reload' >
        <h3>Uploads</h3>
        <%= render 'shared/feed' %>
    </div>
</div>
<% else %>

<div class="center jumbotron">
    <h1>Web Gallery</h1>

    <h2>
        Web Gallery to store the Images
    </h2>

    <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<% end %>
